.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #fff;
  min-height: 100vh;
  background-image: url(./image/bgbottom.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  
  
}
.rightSec{
  min-height: 100vh;
  background-image: url(./image/rightbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.App-link {
  color: #61dafb;
}
